<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electoral Fuckery</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body ng-app="SvgMapApp" ng-controller="MainCtrl">
  <div layout="column" layout-gt-md="row">
    <md-card flex="70">
      <md-toolbar layout="row" layout-align="center center">
        <h1>America the Purple Dinosaur</h1>
      </md-toolbar>
      <md-card-content>
        <div layout=row layout-align="space-around center">
          <md-radio-group ng-model="settings.year" ng-change="calcValues()" layout="row">
          <md-radio-button ng-repeat='(year,data) in dataSets'
                            ng-value='year'>
            {{ year }}
          </md-radio-button>
          </md-radio-group>
        </div>
        <div layout="row" layout-align="space-between center">
          <div layout="column" layout-align="center center">
            <h3>Total Pop.</h3>
            <p> {{totals.population | number}} </p>
          </div>
          <div layout="column" layout-align="center center">
            <h3>Voting Pop.</h3>
            <p> {{totals.votes  | number}} </p>
          </div>
          <div layout="column" layout-align="center center">
            <h3>Participation</h3>
            <p> {{(totals.votes/totals.population)*100 | number :1}}% </p>
          </div>
          <div layout="column" layout-align="center center">
            <h3>Electoral Vote Value</h3>
            <p>{{totals.electoralVoteValue  | number}}</p>
          </div>
        </div>
        <div svg-map></div>
        <div layout=row layout-align="space-around center">
              <md-radio-group ng-model="settings.voteDisplay"
                              ng-change="calcValues()"
                              label="Vote Display">
                <md-radio-button value=electoral
                                 class="md-primary">
                  Electoral
                </md-radio-button>
                <md-radio-button value=popular
                                 class="md-primary md-checked">
                  Popular
                </md-radio-button>
              </md-radio-group>
            <md-radio-group ng-model="settings.ElectoralVoteDistribution"
                            ng-change="calcValues()"
                            label="Electoral Vote Distribution">
              <md-radio-button value=winner-take-all
                               class="md-primary md-checked">
                Winner Take All
              </md-radio-button>
              <md-radio-button value=proportional
                               class="md-primary">
                Proportional
              </md-radio-button>
            </md-radio-group>
            <md-radio-group ng-model="settings.ElectoralStateDistribution"
                            ng-change="calcValues()"
                            label="Electoral Vote Distribution">
              <md-radio-button value=weighted
                               class="md-primary md-checked">
                Weighted
              </md-radio-button>
              <md-radio-button value=population class="md-primary">
                Population Based
              </md-radio-button>
            </md-radio-group>
          </div>
      </md-card-content>
    </md-card>
    <md-card flex="30">
      <md-toolbar layout="row" layout-align="center center">
        <h1>Totals</h1>
      </md-toolbar>
      <md-card-content layout="row" layout-gt-md="column" flex>
        <div layout='column' layout-align='center center' flex>
          <h1 style="margin:auto;text-align:center;">
            Popular Vote
          </h1>
          <canvas id="pie"
                  class="chart chart-pie"
                  chart-data="totals.popData"
                  chart-labels="labels"
                  chart-colors="colors"
                  flex>
          </canvas>
          <h2>
             <span class="red">{{totals.popPercent[1]}}%</span> | <span class="blue">{{totals.popPercent[0]}}%</span>
          </h2>
        </div>
        <div layout='column' layout-align='center center'>
          <h1 style="margin:auto;text-align:center;">
            Electoral Vote
          </h1>
          <canvas id="pie"
                  class="chart chart-pie"
                  chart-data="totals.electoralData"
                  chart-labels="labels"
                  chart-colors="colors"
                  flex>
          </canvas>
          <h2>
            <span class="red">{{totals.electoralPercent[1]}}%</span> | <span class="blue">{{totals.electoralPercent[0]}}%</span>
          </h2>
        </div>
        <div layout='column' layout-align='center center'>
          <h1 style="margin:auto;text-align:center;">
            Shift
          </h1>
          <h2 ng-class="totals.shift.dem ? 'blue' : 'red' ">
            +{{totals.shift.value}}%
          </h2>
        </div>
        <div layout='column' layout-align='center center'>
          <h1>Unrepresented Voters</h1>
          <h2>{{totals.unrepresented | number}} | {{(totals.unrepresented/totals.votes)*100 | number :2}}%
        </div>
        <div layout='column' layout-align='center center'>
          <h1>Represented Americans</h1>
          <h2>{{totals.votes - totals.unrepresented | number}} | {{((totals.votes -totals.unrepresented)/totals.population)*100 | number :2}}%
        </div>
      </md-card-content>
    </md-card>
  </div>
  <md-card>
    <md-toolbar layout="row" layout-align="center center">
      <h1>States</h1>
    </md-toolbar>
    <md-card-content>
      <div class="regionlist">
        <div ng-repeat="(key,region) in dummyData"
             ng-class="{active:hoverRegion==key}">
          <p>{{key}}<p>
          <div layout="row" layout-align="space-between center">
            <div layout="column">
              <p>Republican </p>
              <p>{{ region.repVotes}} {{(region.repVotes/(region.repVotes + region.demVotes))*100 | number :2}}%</p>
              <p>{{ region.repElectoralVotes}} | {{(region.repElectoralVotes/(region.repElectoralVotes + region.demElectoralVotes))*100 | number :2}}%</p>
            </div>
            <div layout="column">
              <p>Democrat</p>
              <p>{{ region.demVotes}} {{(region.demVotes/(region.repVotes + region.demVotes))*100 | number :2}}%</p>
              <p>{{ region.demElectoralVotes}} | {{(region.demElectoralVotes/(region.repElectoralVotes + region.demElectoralVotes))*100 | number :2}}%</p>
            </div>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>



<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</body>
</html>
