<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electoral Fuckery</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body ng-app="SvgMapApp" ng-controller="MainCtrl">
  <div layout='column' layout-gt-md="row">
    <md-card flex>
      <md-toolbar layout="row" layout-align="center center">
        <h1>America the Purple Dinosaur</h1>
      </md-toolbar>
      <md-card-content>
        <div svg-map></div>
        <div layout=row layout-align="space-around center" flex>
          <md-input-container flex>
            <md-select ng-model="settings.year"
                       ng-change="calcValues()"
                       layout="row">
              <md-option ng-repeat='(year,data) in dataSets'
                         ng-value='year'>
                {{ year }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <md-select ng-model="settings.voteDisplay"
                       ng-change="calcValues()"
                       label="Vote Display">
              <md-option value=electoral
                         class="md-primary">
                Electoral
              </md-option>
              <md-option value=popular
                         class="md-primary md-checked">
                Popular
              </md-option>
              <md-option value=representation
                         class="md-primary md-checked">
                Representation (Red:0%,Blue:100%)
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <md-select ng-model="settings.ElectoralVoteDistribution"
                       ng-change="calcValues()"
                       label="Electoral Vote Distribution"
                       ng-disabled="settings.voteDisplay == 'popular'">
              <md-option value=winner-take-all
                         class="md-primary md-checked">
                Winner Take All
              </md-option>
              <md-option value=proportional
                         class="md-primary">
                Proportional
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <md-select ng-model="settings.ElectoralStateDistribution"
                       ng-change="calcValues()"
                       label="Electoral Vote Distribution"
                       ng-disabled="settings.voteDisplay == 'popular'">
              <md-option value=weighted
                         class="md-primary md-checked">
                Weighted
              </md-option>
              <md-option value=population
                         class="md-primary">
                Population Based
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-toolbar layout="row" layout-align="center center">
        <h1>Totals</h1>
      </md-toolbar>
      <md-card-content layout="column" layout-align="center center">
        <h3>Total Pop.</h3>
        <p> {{totals.population | number}} </p>
        <h3>Voting Pop.</h3>
        <p> {{totals.votes  | number}} </p>
        <h3>Participation</h3>
        <p> {{(totals.votes/totals.population)*100 | number :1}}% </p>
        <h3>Electoral Vote Value</h3>
        <p>{{totals.electoralVoteValue  | number}}</p>
        <h3>
          Popular Vote
        </h3>
        <canvas id="pie"
                class="chart chart-pie"
                chart-data="totals.popData"
                chart-labels="labels"
                chart-colors="colors"
                >
        </canvas>
        <p>
           <span class="red">{{totals.popPercent[1]}}%</span> | <span class="blue">{{totals.popPercent[0]}}%</span>
        </p>
        <h3>
          Electoral Vote
        </h3>
        <canvas id="pie"
                class="chart chart-pie"
                chart-data="totals.electoralData"
                chart-labels="labels"
                chart-colors="colors"
                >
        </canvas>
        <p>
          <span class="red">{{totals.electoralPercent[1]}}%</span> | <span class="blue">{{totals.electoralPercent[0]}}%</span>
        </p>
        <h3>
          Shift
        </h3>
        <p ng-class="totals.shift.dem ? 'blue' : 'red' ">
          +{{totals.shift.value}}% | {{totals.shift.value * 5.38 | number :1}} EV
        </p>
        <h3>Unrepresented Voters</h3>
        <p>{{totals.unrepresented | number}} | {{(totals.unrepresented/totals.votes)*100 | number :2}}%</p>
        <h3>Represented Voters</h3>
        <p>{{totals.votes - totals.unrepresented | number}} | {{((totals.votes - totals.unrepresented)/totals.votes)*100 | number :2}}%</p>
      </md-card-content>
    </md-card>
  </div>




<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</body>
</html>
